# Ich bin ein Kommentar

# Zwei Standard-Code-Owner für alles
# man beachte das * am Anfang der Zeile
* @projekteignerin @superwoman

# Zuweisen einer einzelnen Datei
README.md @schlumpfine

# Falls nur Dateien mit der Endung .html in einem Pull-Request auftauchen,
# bekommt dieser User den Aufruf (aber nicht unsere Standard-Owner oben).
# Es können auch die bei GitHub verwendeten Mailadressen genutzt werden.
*.html webmaster@website.de

# Für jede Datei und jedes Unterverzeichnis
# im Verzeichnis "website" ist der User Eigentümer,
# egal wo sich dieses Verzeichnis befindet.
website/ @webmaster

# Für jede Datei und jedes Unterverzeichnis
# im Verzeichnis "website", das direkt
# im root-Verzeichnis ist, ist der User Eigentümer,
# aber nicht /doc/website oder /doc/sub/website.
/website/ @webmaster
